@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-family: Poppins, sans-serif;
  background-color: #ecf2f7;
}

/* loader's css  */
.loading-screen{
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden !important;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  touch-action: none;
}

.loading-container {
  width: 100%;
  max-width: 520px;
  text-align: center;
  color: #fff;
  position: relative;
  margin: 0 32px;
}

.wrapped{
    width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #00989b 0.1%, #005e78 94.2%);
  background-size: 100%;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.loading-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  -webkit-animation: movingLine 2.4s infinite ease-in-out;
          animation: movingLine 2.4s infinite ease-in-out;
}

@-webkit-keyframes movingLine {
  0% {
    opacity: 0;
    width: 0;
  }
  33.3%, 66% {
    opacity: 0.8;
    width: 100%;
  }
  85% {
    width: 0;
    left: initial;
    right: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}

@keyframes movingLine {
  0% {
    opacity: 0;
    width: 0;
  }
  33.3%, 66% {
    opacity: 0.8;
    width: 100%;
  }
  85% {
    width: 0;
    left: initial;
    right: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
.loading-text {
  font-size: 5vw;
  line-height: 64px;
  letter-spacing: 10px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-evenly;
}
.loading-text span {
  -webkit-animation: moveLetters 2.4s infinite ease-in-out;
          animation: moveLetters 2.4s infinite ease-in-out;
  transform: translatex(0);
  position: relative;
  display: inline-block;
  opacity: 0;
  text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
}

.loading-text span:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loading-text span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loading-text span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loading-text span:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loading-text span:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loading-text span:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loading-text span:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@-webkit-keyframes moveLetters {
  0% {
    transform: translateX(-15vw);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(15vw);
    opacity: 0;
  }
}

@keyframes moveLetters {
  0% {
    transform: translateX(-15vw);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(15vw);
    opacity: 0;
  }
}

.container{
  display: none;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.navbar{
    height: 5vh;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    font-size: 1.5em;
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 16px rgba(0,0,0,0.3);
    font-family: Poppins, sans-serif;
}
.navbar p{
    cursor: pointer;
    margin-left: 1em;
}
.navbar p:hover{
  color:#00BFFF;
}




/* form css  */
/* * {
  font-weight: 300;
  font-family: "Roboto", "Segoe Ui", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 29px;
  margin: 0;
} */

button {
  font-size: 14px;
  background-color: #FDD85F;
  padding: 12px 26px;
  border-radius: 40px;
  width: auto;
  color: #3b4a67;
  border: none;
  cursor: pointer;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.08);
}

textarea,
.feedback-form__subject {
  border: none;
  background-image: none;
  background-color: #fff;
  box-shadow: none;
  font-size: 14px;
  padding: 16px;
  border-radius: 10px;
  border: 0px;
  resize: none;
  box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.04);
}

.feedback-form__subject:hover,
.feedback-form__subject:focus {
  color: #000;
}

.content {
  color: #5b6d91;
  /* padding-top: 48px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 980px;
  justify-content: center;
  height: 95vh;
  width: 100%;
}
.content .feedback-description {
  max-width: 310px;
  padding-bottom: 72px;
}
.content .feedback-description .subtitle {
  font-size: 16px;
}
.content .feedback-form {
  /* min-width: 17.5em; */
  padding-left: 4em;
  display: flex;
  flex-direction: column;
}
.content .feedback-form * {
  margin-bottom: 16px;
}
.content .feedback-form button {
  align-self: flex-end;
}

.alertBox{
  position: fixed;
  justify-self: center;
  top: calc((100vh - 22vh) / 2);
  width: 42vh;
  height: 22vh;
  background-color: white;
  display: none;
  justify-content: center;
  z-index: 9999;
  color: black;
  align-items: center;
  border: 1px solid #ccc;
}
.alertContent{
  padding: 20px 30px;
  text-align: center;
  font-size: 1.2rem;
}
.blurClass{
  filter: blur(4px);
  pointer-events: none;
  user-select: none;
}
.alertContent button{
  color: white;
  background-color: #4158d0;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}
.alertContent button:hover{
  background-color: #3a4f9b;

}