html {
  height:100%;
  font-family:monospace;
}

body {
  margin:0;
  padding:0;
  user-select: none;
  overflow: hidden;
}
#body{
    display: block;
}
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:8vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
.btn{
  -webkit-tap-highlight-color: transparent;
}
.logo {
    font-size: 3rem;
}
.box{
  display: flex;
  margin-top: 2vh;
  margin-left: 2.5vw; 
  width: fit-content;
  height: fit-content;
  gap: 0.5vw;
  align-items: center;
}
.squishy {
  position: relative;
  font-size: 1.8rem;
  padding: 0.75rem 2rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 250ms;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 20px;
}
.squishy-classic {
  background-color: #f0f0f0;
  color: #242424;
  border-radius: 0.5rem;
  box-shadow: 
    inset 0 1px 0 0 #f4f4f4,
    0 1px 0 0 #efefef,
    0 2px 0 0 #ececec,
    0 4px 0 0 #e0e0e0,
    0 5px 0 0 #dedede,
    0 6px 0 0 #dcdcdc,
    0 7px 0 0 #cacaca,
    0 7px 8px 0 #cecece;
}
.squishy-classic:hover {
  transform: translateY(4px);
  box-shadow: 
    inset 0 1px 0 0 #f4f4f4,
    0 1px 0 0 #efefef,
    0 1px 0 0 #ececec,
    0 2px 0 0 #e0e0e0,
    0 2px 0 0 #dedede,
    0 3px 0 0 #dcdcdc,
    0 4px 0 0 #cacaca,
    0 4px 6px 0 #cecece;
}
.cont {
    font-size: 2.5rem;
}

@media (max-width:600px){
  .logo {
    font-size: 2.5rem;
}
  .cont{
    font-size: 2rem;
  }
  .btn{
    font-size: 1.5rem;
  }
  .content{
    padding: 12vmin;
  }
  .box{
    gap: 2vw;
    margin-top: 0.5rem;
    margin-left: 6vw; 
  }
}

.botLogo{
  aspect-ratio: 1 / 1;
  height: 50px;
  width: 50px;
}