@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
:root {
  /* Light Mode */
  --bg-color: #F9F9F9;
  --primary-accent: #00BFFF;
  --border-col: #eaeaea;
  --secondary-accent: #9B59B6;
  --surface-color: #FFFFFF;
  --text-color: #1E1E1E;
  --font-family: 'Inter', 'Poppins', sans-serif;
}

.dark {
  /* Dark Mode */
  --bg-color: #121212;
  --primary-accent: #00CFFF;
  --border-col: #2A2A2A;
  --secondary-accent: #BB86FC;
  --surface-color: #1E1E1E;
  --text-color: #F2F2F2;
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-family: var(--font-family);
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 255, 213, 0.5) transparent;
    overflow-x: hidden;
    
}

.loading-screen{
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden !important;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  touch-action: none;
}

.loading-container {
  width: 100%;
  max-width: 520px;
  text-align: center;
  color: #fff;
  position: relative;
  margin: 0 32px;
}

.wrapped{
    width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #00989b 0.1%, #005e78 94.2%);
  background-size: 100%;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.loading-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  -webkit-animation: movingLine 2.4s infinite ease-in-out;
          animation: movingLine 2.4s infinite ease-in-out;
}

@-webkit-keyframes movingLine {
  0% {
    opacity: 0;
    width: 0;
  }
  33.3%, 66% {
    opacity: 0.8;
    width: 100%;
  }
  85% {
    width: 0;
    left: initial;
    right: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}

@keyframes movingLine {
  0% {
    opacity: 0;
    width: 0;
  }
  33.3%, 66% {
    opacity: 0.8;
    width: 100%;
  }
  85% {
    width: 0;
    left: initial;
    right: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
.loading-text {
  font-size: 5vw;
  line-height: 64px;
  letter-spacing: 10px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-evenly;
}
.loading-text span {
  -webkit-animation: moveLetters 2.4s infinite ease-in-out;
          animation: moveLetters 2.4s infinite ease-in-out;
  transform: translatex(0);
  position: relative;
  display: inline-block;
  opacity: 0;
  text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3);
}

.loading-text span:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loading-text span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loading-text span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loading-text span:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loading-text span:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loading-text span:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loading-text span:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@-webkit-keyframes moveLetters {
  0% {
    transform: translateX(-15vw);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(15vw);
    opacity: 0;
  }
}

@keyframes moveLetters {
  0% {
    transform: translateX(-15vw);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(15vw);
    opacity: 0;
  }
}

.container{
    display: none;
    height: 100vh;
    width: 100vw;
    color: var(--text-color);
    flex-direction: column;
}

.navbar{
    height: 5vh;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    font-size: 1.5em;
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 16px rgba(0,0,0,0.3);
}
.navbar p{
    cursor: pointer;
    margin-left: 1em;
}
.navbar p:hover{
  color: var(--primary-accent);
}