@media (max-width:768px) {
    .loading-text{
    font-size: 10vw;
  }
}

@media (max-width:430px) {
    .loading-text{
    font-size: 12vw;
  }
  .wrapper{
    width: 300px;
  }
  form .content{
    font-size: 12px;
  }
  .signup-link{
    font-size: 13px;
  }
}